<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpm_wxl.contacts">

    <application

        android:theme="@style/AppTheme">
        <activity android:name=".Contacts_ContactsMainActivity">

        </activity>
    </application>

</manifest>