<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpm_wxl.login">

    <application
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Login_LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.RegistActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>