<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpm_wxl.chat">
    <application
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Chat_MainActivity">
        </activity>
    </application>

</manifest>