<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpm_wxl.my">

    <application

        android:theme="@style/AppTheme">
        <activity android:name=".My_MainActivity">

        </activity>
    </application>

</manifest>